{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="container">
    <h2>Про нашу студію</h2>
    <p>Veyronix Studios — це команда ентузіастів, які створюють інноваційні ігри, що надихають мільйони гравців по всьому світу.</p>
    <h3>Наша місія</h3>
    <p>Ми прагнемо поєднувати креативність, технології та емоції, створюючи унікальний ігровий досвід.</p>
    <h3>Наша команда</h3>
    <ul>
        <li><strong>Witcher:</strong> Головний розробник.</li>
        <li><strong>Takumi Takashi:</strong> Креативний дизайнер.</li>
        <li><strong>Anna Blade:</strong> Художник концепт-артів.</li>
    </ul>
</div>
{% endblock %}
